<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <listeners>
       <listener class-name="extentList.ExtentListiner"></listener>
   </listeners>

    <!--<test verbose="2" preserve-order="true" name="TestWith firefox browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            &lt;!&ndash;<class name="loginTest.LoginTest">
                <methods>
                    <include name="verifyValidLoginTest"/>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                </methods>
            </class>&ndash;&gt;
            <class name="account.AccountForm">
                <methods>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                    <include name="verifyCreateEmailEccepted"/>
                </methods>
            </class>
        </classes>
    </test>-->
    <test verbose="2" preserve-order="true" name="Test with Chrome Browser" >
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <!--<class name="loginTest.LoginTest">
                <methods>
                    <include name="verifyValidLoginTest"/>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                </methods>
            </class>-->
            <class name="account.AccountForm">
                <methods>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                    <include name="verifyCreateEmailEccepted"/>
                </methods>
            </class>
        </classes>
    </test>
    <!--<test verbose="2" preserve-order="true" name="Test with opera Browser" >
        <parameter name="browser" value="opera"></parameter>
        <classes>
            &lt;!&ndash;<class name="loginTest.LoginTest">
                <methods>
                    <include name="verifyValidLoginTest"/>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                </methods>
            </class>&ndash;&gt;
            <class name="account.AccountForm">
                <methods>
                    <include name="verifyLoginTestWithInvalidPassword"/>
                    <include name="verifyCreateEmailEccepted"/>
                </methods>
            </class>
        </classes>
    </test>-->
</suite>